<%= form_with scope: :student, url: students_path, local: true do |form| %>
  <p>	
    <%= 'First Name' %><br>
    <%= form.text_field :first_name %>
  </p>
 
  <p>
    <%= 'Last Name' %><br>
    <%= form.text_field :last_name %>
  </p>
 
 <p>
    <%= 'Date of Birth'%><br>
    <%= form.text_area :date_of_birth %>
  </p>
 
 <p>
    <%= 'Phone' %><br>
    <%= form.text_area :phone %>
  </p>
 
 <p>
    <%= 'Address' %><br>
    <%= form.text_area :address %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>